$blue: #00abe3;
$dark_gray: #444;
@font-face {
  font-family: 'Panton';
  src: url('./assets/Panton-BlackCaps.ttf');
  src: local('Panton'),
  url('./assets/Panton-BlackCaps.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Panton', sans-serif;
}
.wrapper {
  display: block;
  border: 1px solid black;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: white;
}

.image_wrapper {
  overflow: hidden;
  position: relative;
  img {
    display: block;
    width: 200%;
    transform: translateX(0%);
  }
}

.big_wrap {
  position: relative;
  display: block;
  border: 1px solid black;
  background: white;
  overflow: hidden;
  box-sizing: border-box;
  .wrapper {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.text_wrapper {
  transform: rotate(-15deg) skewX(-15deg);
}
.text {
  font-weight: 900;
  display: block;
  font-size: 35px;
  color: $blue;
  text-shadow: 2px 2px 0 white, 4px 4px 0 $dark_gray;
}

.promo {
  &_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px auto;
    transform: scale(2);
    opacity: 0;
  }
  &_paragraph {
    display: block;
    color: $dark_gray;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
  }
  &_heading {
    display: block;
    text-align: center;
    color: $blue;
    font-size: 40px;
    font-weight: 900;
    margin: 30px 0;
    position: relative;
    &_borders {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &_border {
      width: 20px;
      display: block;
      position: absolute;
      &:nth-child(1) {
        top: -10px;
        left: 10px;
      }
      &:nth-child(2) {
        top: -10px;
        right: 10px;
        transform: rotate(90deg);
      }
      &:nth-child(3) {
        bottom: -10px;
        right: 10px;
        transform: rotate(180deg);
      }
      &:nth-child(4) {
        bottom: -10px;
        left: 10px;
        transform: rotate(270deg);
      }
    }
    &-breathe .breathing_text {
      display: block;
      animation: breathe .7s ease-in-out infinite;
    }
    &-breathe &_borders{
      animation: breathe .7s ease-in-out infinite;
    }
  }
}

.wrapper_square {
  &.start_animation {
    $first_animation_duration: 1.8s;
    $second_animation_duration: .5s;
    $second_animation_delay: $first_animation_duration + $second_animation_duration;
    $text_appear_duration: .3s;
    $logo_appear_duration: .3s;
    $first_view_duration: $second_animation_delay + $logo_appear_duration;
    $first_change_view_delay: $first_animation_duration + 1.5s;
    $second_change_view_delay: $first_change_view_delay + 7s;
    .image_wrapper {
      animation:  first_square_slide $first_animation_duration ease-in both,
      minimize_square_image $second_animation_duration $first_animation_duration ease-in forwards,
      zoom_out .3s ($first_change_view_delay) ease-out both;
      img {
        animation: change_image .1s ($first_animation_duration*.6) ease-in both;
      }
    }
    .text_1, .text_2 {
      animation: get_to_center $text_appear_duration ($second_animation_delay - $text_appear_duration) ease-in both;
    }
    .logo {
      animation: logo_appear $logo_appear_duration ($second_animation_delay) ease-in both,
      zoom_out .3s ($first_change_view_delay + .3s) ease-out both;
    }
    .text_wrapper {
      animation: zoom_out .3s ($first_change_view_delay + .15s) ease-out both;
    }
    .promo_wrapper {
      animation: zoom_fade_in .15s ($first_change_view_delay + .5s) ease-in both;
      & > * {
        display: block;
        opacity: 0;
        transform: scale(1.2);
        &:nth-child(1) {
          animation: zoom_fade_in .3s ($first_change_view_delay + .5s) forwards, slide_left .2s $second_change_view_delay ease-in-out forwards;
        }
        &:nth-child(2) {
          animation: zoom_fade_in .3s ($first_change_view_delay + .75s) forwards, slide_left .2s ($second_change_view_delay + .05s) ease-in-out forwards;
        }
        &:nth-child(3) {
          animation: zoom_fade_in .3s ($first_change_view_delay + 1s) forwards, slide_left .2s ($second_change_view_delay + .1s) ease-in-out forwards;
        }
        &:nth-child(4) {
          animation: zoom_fade_in .3s ($first_change_view_delay + 1.25s) forwards, slide_left .2s ($second_change_view_delay + .15s) ease-in-out forwards;
        }
      }
    }
    .logo_big {
      animation: second_logo_appear .15s ($second_change_view_delay + .3s) ease-in both;
    }
  }
}

.wrapper_960_640 {
  width: 960px;
  height: 640px;
  .image_wrapper {
    width: 1200px;
    left: -120px;
    position: absolute;
    bottom: 20px;
  }
  .text_wrapper {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    .text {
      font-size: 65px;
      &_1 {
        transform: translateX(900px);
      }
      &_2 {
        transform: translateX(-900px);
      }
    }
  }
  .logo {
    position: absolute;
    width: 130px;
    top: 50px;
    left: 0;
    margin-left: -180px;
  }
  .promo_wrapper {
    margin: 65px auto;
    width: 600px;
    .promo_paragraph {
      font-size: 57px;
    }
    .promo_heading {
      font-size: 80px;
      margin: 60px 0;
    }
    .promo_heading_border {
      width: 35px;
    }
  }
  .logo_big {
    height: 100%;
    width: 500px;
    display: block;
    margin: auto;
    object-fit: contain;
    transform: translateX(800px);
  }
}

.big_wrap_336_280 {
  width: 336px;
  height: 280px;
  .wrapper_960_640 {
    transform: scale(.4375) translateX(-100px);
    transform-origin: left;
  }
}


@keyframes first_square_slide {
  0%, 60.51%, 61.1% {
    left: 900px;
    bottom: 20px;
  }
  60.5% {
    left: -1100px;
  }
  100% {
    left: -140px;
    bottom: 20px;
  }
}

@keyframes change_image {
  from {
    filter: blur(0px)
  }
  49.99% {
    filter: blur(10px);
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-50%);
    filter: blur(0px)
  }
}

@keyframes minimize_square_image {
  to {
    width: 500px;
    left: 230px;
  }
}

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes slide_image {
  from {
    filter: blur(0px)
  }
  49.99% {
    filter: blur(10px);
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-50%);
    filter: blur(0px)
  }
}

@keyframes get_to_center {
  to {
    transform: translateX(0) translateY(0);
  }
}

@keyframes zoom_out {
  20% {
    transform: scale(1.1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes logo_appear {
  to {
    left: 50%;
  }
}

@keyframes zoom_fade_in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide_left {
  from {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(-1000px);
  }
}
@keyframes second_logo_appear {
  to {
    transform: translateX(0px);
  }
}
